In [2]:
import pandas as pd
import numpy as np

In [3]:
file = pd.read_csv("../wdbc.csv")
df = pd.DataFrame(file)
print(df)
num_rows = 567

           ID Type      1      2       3       4        5        6        7  \
0      842517    M  20.57  17.77  132.90  1326.0  0.08474  0.07864  0.08690
1    84300903    M  19.69  21.25  130.00  1203.0  0.10960  0.15990  0.19740
2    84348301    M  11.42  20.38   77.58   386.1  0.14250  0.28390  0.24140
3    84358402    M  20.29  14.34  135.10  1297.0  0.10030  0.13280  0.19800
4      843786    M  12.45  15.70   82.57   477.1  0.12780  0.17000  0.15780
..        ...  ...    ...    ...     ...     ...      ...      ...      ...
563    926424    M  21.56  22.39  142.00  1479.0  0.11100  0.11590  0.24390
564    926682    M  20.13  28.25  131.20  1261.0  0.09780  0.10340  0.14400
565    926954    M  16.60  28.08  108.30   858.1  0.08455  0.10230  0.09251
566    927241    M  20.60  29.33  140.10  1265.0  0.11780  0.27700  0.35140
567     92751    B   7.76  24.54   47.92   181.0  0.05263  0.04362  0.00000

           8  ...      21     22      23      24       25       26      27  \
0    0.07017  ...  24.990  23.41  158.80  1956.0  0.12380  0.18660  0.2416
1    0.12790  ...  23.570  25.53  152.50  1709.0  0.14440  0.42450  0.4504
2    0.10520  ...  14.910  26.50   98.87   567.7  0.20980  0.86630  0.6869
3    0.10430  ...  22.540  16.67  152.20  1575.0  0.13740  0.20500  0.4000
4    0.08089  ...  15.470  23.75  103.40   741.6  0.17910  0.52490  0.5355
..       ...  ...     ...    ...     ...     ...      ...      ...     ...
563  0.13890  ...  25.450  26.40  166.10  2027.0  0.14100  0.21130  0.4107
564  0.09791  ...  23.690  38.25  155.00  1731.0  0.11660  0.19220  0.3215
565  0.05302  ...  18.980  34.12  126.70  1124.0  0.11390  0.30940  0.3403
566  0.15200  ...  25.740  39.42  184.60  1821.0  0.16500  0.86810  0.9387
567  0.00000  ...   9.456  30.37   59.16   268.6  0.08996  0.06444  0.0000

         28      29       30
0    0.1860  0.2750  0.08902
1    0.2430  0.3613  0.08758
2    0.2575  0.6638  0.17300
3    0.1625  0.2364  0.07678
4    0.1741  0.3985  0.12440
..      ...     ...      ...
563  0.2216  0.2060  0.07115
564  0.1628  0.2572  0.06637
565  0.1418  0.2218  0.07820
566  0.2650  0.4087  0.12400
567  0.0000  0.2871  0.07039

[568 rows x 32 columns]

In [4]:
row_slice = df.iloc[1]
#print(row_slice)
row_slice.dtypes
#df.iloc[0]

dtype('O')

In [5]:
df = df.sample(frac=1)
df.head()

,ID,Type,1,2,3,4,5,6,7,8,...,21,22,23,24,25,26,27,28,29,30
113,864496,B,8.726,15.83,55.84,230.9,0.11500,0.08201,0.04132,0.01924,...,9.628,19.62,64.48,284.4,0.1724,0.2364,0.2456,0.10500,0.2926,0.10170
522,917896,B,13.710,18.68,88.73,571.0,0.09916,0.10700,0.05385,0.03783,...,15.110,25.63,99.43,701.9,0.1425,0.2566,0.1935,0.12840,0.2849,0.09031
337,897880,B,10.050,17.53,64.41,310.8,0.10070,0.07326,0.02511,0.01775,...,11.160,26.84,71.98,384.0,0.1402,0.1402,0.1055,0.06499,0.2894,0.07664
79,861103,B,11.450,20.97,73.81,401.5,0.11020,0.09362,0.04591,0.02233,...,13.110,32.16,84.53,525.1,0.1557,0.1676,0.1755,0.06127,0.2762,0.08851
153,8711002,B,13.150,15.34,85.31,538.9,0.09384,0.08498,0.09293,0.03483,...,14.770,20.50,97.67,677.3,0.1478,0.2256,0.3009,0.09722,0.3849,0.08633

In [6]:
df.select_dtypes(include = ['float']).head()

,1,2,3,4,5,6,7,8,9,10,...,21,22,23,24,25,26,27,28,29,30
113,8.726,15.83,55.84,230.9,0.11500,0.08201,0.04132,0.01924,0.1649,0.07633,...,9.628,19.62,64.48,284.4,0.1724,0.2364,0.2456,0.10500,0.2926,0.10170
522,13.710,18.68,88.73,571.0,0.09916,0.10700,0.05385,0.03783,0.1714,0.06843,...,15.110,25.63,99.43,701.9,0.1425,0.2566,0.1935,0.12840,0.2849,0.09031
337,10.050,17.53,64.41,310.8,0.10070,0.07326,0.02511,0.01775,0.1890,0.06331,...,11.160,26.84,71.98,384.0,0.1402,0.1402,0.1055,0.06499,0.2894,0.07664
79,11.450,20.97,73.81,401.5,0.11020,0.09362,0.04591,0.02233,0.1842,0.07005,...,13.110,32.16,84.53,525.1,0.1557,0.1676,0.1755,0.06127,0.2762,0.08851
153,13.150,15.34,85.31,538.9,0.09384,0.08498,0.09293,0.03483,0.1822,0.06207,...,14.770,20.50,97.67,677.3,0.1478,0.2256,0.3009,0.09722,0.3849,0.08633

In [7]:
import operator
import math
import random

import numpy

from deap import algorithms
from deap import base
from deap import creator
from deap import tools
from deap import gp

In [8]:
def protectedDiv(left, right):
    try:
        return left / right
    except ZeroDivisionError:
        return 1

pset = gp.PrimitiveSet("MAIN", 30)
pset.addPrimitive(operator.add, 2)
pset.addPrimitive(operator.sub, 2)
pset.addPrimitive(operator.mul, 2)
pset.addPrimitive(protectedDiv, 2)
pset.addPrimitive(operator.neg, 1)
#pset.addEphemeralConstant(str(random.randint(-1,1)),lambda: random.randrange(-1,1))
pset.addTerminal(1)
#pset.renameArguments(ARG0="x")

In [9]:
expr = gp.genFull(pset, min_=1, max_=17)
tree = gp.PrimitiveTree(expr)
str(tree)

'protectedDiv(add(ARG24, ARG23), add(ARG29, ARG3))'

In [10]:
myTree = gp.compile(tree, pset)
thisbs = 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29
fldf = df.iloc[:,2:].iloc[0].apply(myTree, args = (thisbs))
output = pd.to_numeric(fldf[0:1])
print(output)

1    1.46875
Name: 113, dtype: float64

In [11]:
creator.create("FitnessMin", base.Fitness, weights=(-1.0,))
creator.create("Individual", gp.PrimitiveTree, fitness=creator.FitnessMin)

In [12]:
toolbox = base.Toolbox()
toolbox.register("expr", gp.genHalfAndHalf, pset=pset, min_=1, max_=2)
toolbox.register("individual", tools.initIterate, creator.Individual, toolbox.expr)
toolbox.register("population", tools.initRepeat, list, toolbox.individual)
toolbox.register("compile", gp.compile, pset=pset)

In [13]:
def evalSymbReg(individual, points):
    func = toolbox.compile(expr=individual)
    sqerrors = (func(x)**2 for x in points)

In [17]:
for x in df.iloc[:,2:0]:
    print(x)

In [15]:
toolbox.register("evaluate", evalSymbReg, points=[x/10. for x in range(-10,10)])
toolbox.register("select", tools.selTournament, tournsize=3)
toolbox.register("mate", gp.cxOnePoint)
toolbox.register("expr_mut", gp.genFull, min_=0, max_=2)
toolbox.register("mutate", gp.mutUniform, expr=toolbox.expr_mut, pset=pset)

toolbox.decorate("mate", gp.staticLimit(key=operator.attrgetter("height"), max_value=17))
toolbox.decorate("mutate", gp.staticLimit(key=operator.attrgetter("height"), max_value=17))

stats_fit = tools.Statistics(lambda ind: ind.fitness.values)
stats_size = tools.Statistics(len)
mstats = tools.MultiStatistics(fitness=stats_fit, size=stats_size)
mstats.register("avg", numpy.mean)
mstats.register("std", numpy.std)
mstats.register("min", numpy.min)
mstats.register("max", numpy.max)


pop = toolbox.population(n=300)
hof = tools.HallOfFame(1)
pop, log = algorithms.eaSimple(pop, toolbox, 0.5, 0.1, 40, stats=mstats,
                                   halloffame=hof, verbose=True)

TypeError: Both weights and assigned values must be a sequence of numbers when assigning to values of <class 'deap.creator.FitnessMin'>. Currently assigning value(s) None of <class 'NoneType'> to a fitness with weights (-1.0,).